@(message: String)(implicit request: play.api.mvc.RequestHeader)

@main("Zenexity Homework") {

	@navbar(request)

	<div class="jumbotron">
	<div class="container">
		<h1>Hi there!</h1>
		<p>Please use the search bar to display stats you want below.</p>
		<p>Be advise that Github API has a limit for requests (50 p/h) for unauthenticated users, so if you have a Github account, you should use the Login button.</p>
		<p>It will request public authorization for this application and it will use a token to log you in, so don't worry, I don't need your password :).</p>
	</div>
	</div>

	@charts()

	<hr>

	</div>

	
}
